@font-face{
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
	font-family: 'Swiss721';
	src: url('fonts/Swiss/Swiss721CondensedBT.ttf');
}
@font-face{
	font-family: 'Humger-Regular';
	src: url('fonts/Humger/Humger.ttf');
}
@font-face{
	font-family: 'Lato-Regular';
	src: url('fonts/Lato/Lato-Regular.ttf');
}
@font-face{
    font-family: 'Marvin';
    src: url('fonts/Marvin/Marvin.otf');
}
@font-face{
    font-family: 'Nunito-Light';
    src: url('fonts/Nunito/NunitoSans-Light.ttf');
}

body{margin: 0; position: absolute;
    display: flex; box-sizing: border-box;
    height: 100%; width: 100%;
    font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

    .page{display: flex; flex-direction: column; box-sizing: border-box;
        height: 100%; width: 100%; overflow: hidden;
    }
        .page > .header{display: flex; flex-direction: row;
            box-sizing: border-box;
            z-index: 10;
            height: 5em; width: 100%; 
            background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,.1); 
            position: relative;     
            transition: 0.5s;
            justify-content: space-between;
        }
            .header-group{
                display: flex; box-sizing: border-box;
                position: relative;
                justify-content: center;
            }
                .header-group .label{
                    display: flex;
                    position: relative;
                    box-sizing: border-box;
                    min-width: 7em; padding: 10px;
                    height: 100%;
                    justify-content: center; align-items: center;
                }
                    #fa-icon-header-what{
                        margin-left: 10px;
                        font-size: 18px;
                    }
                button.header-button{
                    position: relative;
                    display: flex;
                    box-shadow: 0 3px 6px rgba(247, 155, 155, 0.3);
                    min-width: 7em;
                    height: 100%;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                }
                button.header-button.logo{
                    box-shadow: 0 3px 6px rgba(247, 155, 155, 0.0);
                }
                    button.header-button.logo img{
                        width: 100%;
                    }
                button.header-button.login{
                    background-color: #7cf9c3;
                }
                
        .page > .content{
            display: -webkit-flex; /* Safari */
            -webkit-flex-direction: column; /* Safari 6.1+ */
            display: flex;
            flex-direction: column;
            position: absolute;
            box-sizing: border-box;
            top: 5em;
            width:100%;
            max-height: calc(100% - 5em);  
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
            .page > .content > .painel{
                display: -webkit-flex; /* Safari */
                -webkit-flex-direction: column; /* Safari 6.1+ */
                display: flex;
                flex-direction: column;
                position: relative;
                margin-top: 10px;
                width: 100%;
                box-shadow: 0 3px 6px rgba(247, 155, 155, 0.4);
                z-index: 2;
            }   
                .page > .content > .painel.imoveis{
                    display: grid;
                    box-sizing: border-box;
                    grid-template-areas: 
                        'top top top top top top top'
                        'left mid mid mid mid mid mid'
                        'left mid mid mid mid mid mid'
                        'left mid mid mid mid mid mid';
                    grid-template-columns: repeat(7, minmax(0, 1fr));

                }
                .page > .content > .painel.footer{
                    width: 100%;
                    height: 4em;
                    background-color: #244943;
                    box-sizing: border-box;
                }
                    .painel.imoveis .item{
                        padding: 10px;
                        box-sizing: border-box;
                        min-width: 0;
					    min-height: 0;
                    }
                        .painel.imoveis .item.top{
                            grid-area: top;
                            background-color: #f6f6f6;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-direction: column;
                            padding: 30px 10px 50px 10px;
                            box-shadow: 0px 0px 6px 3px rgba(247, 155, 155, 0.3);
                        }
                            .painel.imoveis .item.top span.strong{
                                /*color: #f5f0f0;*/
                                font-size: 24px;
                                font-family: 'Nunito-Light';
                            }
                            .painel.imoveis .item.top .group-input{
                                display: flex;
                                width: 80%;
                                position: relative;
                            }
                                .painel.imoveis .item.top .group-input button.search{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    display: flex;
                                    box-shadow: 0 3px 6px rgba(91, 161, 157, 0.4);
                                    height: 100%;
                                    padding: 10px 20px 10px 20px;
                                    box-sizing: border-box;
                                    border-radius: 0px 8px 8px 0px;
                                    border: 1px solid #5e7276;
                                    background-color: white;
                                    color: #1bb6d4;
                                    font-size: 1.4em;
                                }
                                    .painel.imoveis .item.top .group-input button.search:hover{
                                        background-color: #1bb6d4;
                                        box-shadow: 0 3px 6px rgba(247, 155, 155, 0.6);
                                        color: white;
                                        opacity: 1;
                                    }
                                .painel.imoveis .item.top .group-input input.search{
                                    width: 100%;
                                    font-size: 26px;
                                    border-radius: 8px;
                                    color: #434549;
                                    padding: 4px;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    font-family: 'Nunito-Light';
                                    border: 2px solid #5e7276;
                                    box-sizing: border-box;
                                    box-shadow: 0 3px 6px rgba(91, 161, 157, 0.4);
                                }
                        .painel.imoveis .item.left{
                            grid-area: left;
                            border-right: 1px solid rgba(94, 114, 118, 0.65);
                        }
                        .painel.imoveis .item.mid{
                            grid-area: mid;
                            display: flex;
                            flex-direction: column;
                        }
                            .item.mid span.top{
                                font-family: 'Nunito-Light';
                                font-size: 16px;
                                padding: 10px;
                            }
                            .painel.imoveis .item.mid .wrapper-search{
                                width: 100%;
                                height: 100%;
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                            }
                                .painel.imoveis .item.mid .wrapper-search .item{
                                    width: 100%;
                                    height: 100%;
                                }
                                    .wrapper-search > .item > .card.imovel{
                                        width: 100%;
                                        height: 22em;
                                        border: 1px solid rgba(94, 114, 118, 0.4);
                                        box-sizing: border-box;
                                    }
                                    .wrapper-search > .item > .card.imovel:hover{
                                        box-shadow: 0px 0px 10px 3px rgba(186, 155, 247, 0.7);
                                    }
                                        .card.imovel .img{
                                            width: 100%;
                                            height: 12em;
                                            background-color: #1bb6d4;
                                            transition: transform .5s;
                                            display: flex;
                                            align-items: center;
                                            overflow: hidden;
                                            position: relative;
                                        }
                                            .card.imovel .img img{
                                                width: 100%;
                                                transition: transform .5s;
                                            }
                                            .card.imovel .img img.zoom{
                                                transform: scale(1.2);
                                            }
                                            .card.imovel .img img.zoom:hover{
                                                transform: scale(1.7);
                                            }
                                            .card.imovel > .content{
                                                position: relative;
                                                height: 10em;
                                                width: 100%;
                                                padding: 10px;
                                                box-sizing: border-box;
                                                display: block;
                                                flex-direction: column;
                                                justify-content: space-between;
                                            }
                                                .card.imovel > .content > .header{
                                                    width: 100%;
                                                    display: flex;
                                                    flex-direction: column;
                                                    overflow: hidden;
                                                }
                                                    .card.imovel > .content > div > .painel{
                                                        display: flex;
                                                        flex-flow: column;
                                                        position: relative;
                                                    }
                                                        .card.imovel > .content > div > div > span.strong{
                                                            font-family: 'Nunito-Light';
                                                            font-size: 1.4em;
                                                        }
                                                        .card.imovel > .content > div > div > span.light{
                                                            font-family: 'Nunito-Light';
                                                            font-size: 0.8em;
                                                            position: relative;
                                                            display: flex;
                                                            justify-content: flex-end;
                                                        }
                                                        .card.imovel > .content > div > div > span.strongPrice{
                                                            font-size: 1.5em;
                                                            font-weight: 200;
                                                            padding: 20px 0px 5px 0px;
                                                            display: flex;
                                                        }

                                                .card.imovel > .content > .mid{
                                                    width: 100%;
                                                    display: flex;
                                                    flex-direction: column;
                                                    overflow: hidden;
                                                }
                                                .card.imovel > .content > .footer{
                                                    position: absolute;
                                                    width: 100%;
                                                    height: 1.5em;
                                                    bottom: 0; left: 0;
                                                    color: white;
                                                    font-size: 14px;
                                                    
                                                }
                                                .card.imovel > .content > .footer > .painel{
                                                    position: absolute;
                                                    width: 100%;
                                                    height: 100%;
                                                    display: grid;
                                                    grid-template-areas: 
                                                    'suite banheiro quarto areautil extra'; 
                                                    box-sizing: border-box;
                                                    border: 1px solid rgba(94, 114, 118, 0.4);

                                                }
                                                    .card.imovel > .content > div > .painel > .slot{
                                                        height: 100%;
                                                        width: 100%;
                                                        box-sizing: border-box;
                                                        display: -webkit-inline-flex;
                                                        display: -ms-inline-flexbox;
                                                        display: inline-flex;                                                        justify-content: center;
                                                        align-items: center;
                                                        border-right: 2px solid white;
                                                    }
                                                        .card.imovel > .content > div > .painel > .slot.banheiro{
                                                            grid-area: banheiro;
                                                        }
                                                        .card.imovel > .content > div > .painel > .slot.suite{
                                                            grid-area: suite;
                                                        }
                                                        .card.imovel > .content > div > .painel > .slot.quarto{
                                                            grid-area: quarto;
                                                        }
                                                        .card.imovel > .content > div > .painel > .slot.areautil{
                                                            grid-area: areautil;
                                                        }
                                                        .card.imovel > .content > div > .painel > .slot.extra{
                                                            grid-area: extra;
                                                            border-right: none;
                                                        }
                                                        .card.imovel > .content > div > .painel > .slot > span{
                                                            margin-right: 10px;
                                                        }
                                                        .tooltip-box{
                                                            visibility: hidden;
                                                            width: auto;
                                                            background-color: black;
                                                            color: #fff;
                                                            text-align: center;
                                                            background-color: #ffffff; 
                                                            border-radius: 8px;
                                                            box-shadow: 0 3px 6px rgba(0,0,0,.2);
                                                            z-index: 10;
                                                            padding: 10px;
                                                            position: absolute;
                                                            z-index: 20;
                                                            top: 150%;
                                                        }
                                                            .tooltip-box::after {
                                                                content: "";
                                                                position: absolute;
                                                                bottom: 100%;
                                                                left: 50%;
                                                                margin-left: -5px;
                                                                border-width: 5px;
                                                                border-style: solid;
                                                                border-color: transparent transparent rgb(204, 204, 204) transparent;
                                                            }
                                                            .tooltip-box > span.title{
                                                                color: #073054;
                                                                background-color: white;

                                                            }
                                                            .slot:hover .tooltip-box.hovertip{
                                                                visibility: visible;
                                                                box-shadow: inset 0px 0px 1px 2px #315867 !important;
                                                            }

            .carousel-painel{
                position: relative;
                height: min-content;
                z-index: 2;
            }
                .carousel-div{
                    box-shadow: 0 3px 6px rgba(247, 155, 155, 0.1);
                }
        span.header-style{
            font-family: 'Marvin';
            font-size: 16px;
        }
        span.italic{
            font-style: italic;
        }
        


        @media screen and (min-width: 300px) and (max-width: 599px) { /* ...mobile styles here... */ 
            .page > .content > .painel.imoveis {
                display: grid;
                grid-template-areas: 
                    'top top top top top top top'
                    'mid mid mid mid mid mid mid'
                    'mid mid mid mid mid mid mid'
                    'mid mid mid mid mid mid mid';
            }.painel.imoveis .item.left{display: none;}
            .page > .content > .painel.imoveis .item.mid .wrapper-search{
                grid-template-columns: 1fr;
            }



            .header{
                justify-content: center;
            }
                .header-group.desktop{
                    display: none;
                }
        }
        @media screen and (min-width: 600px) and (max-width: 899px) { /* ...tablet styles here... */
            .page > .content > .painel.imoveis {
                display: grid;
                grid-template-areas: 
                    'top top top top top top top'
                    'mid mid mid mid mid mid mid'
                    'mid mid mid mid mid mid mid'
                    'mid mid mid mid mid mid mid';
            }.painel.imoveis .item.left{display: none;}
            .page > .content > .painel.imoveis .item.mid .wrapper-search{
                grid-template-columns: 1fr 1fr;
            }


            .header{
                justify-content: center;
            }
                .header-group.desktop{
                    display: none;
                }
        }
        @media screen and (min-width: 900px) { /* ...desktop styles here...*/
            
        }
        

/*Cores*/
.Color-SL1{
    color: #6f1988;
}
.Color-SL2{
    color: #1e8845;
}
.Color-SL3{
    color: #b61c1c;
}
.Color-SL4{
    color: #073054;
}
.Color-SL5{
    color: #375669;
}
.Color-SL6{
    color: #25d366;
}
.Color-PR1{
    color: #807d65;
}
.Color-PR2{
    color: #595a99;
}
.Color-PR3{
    color: #2c4088;
}
.Back-CL1{
    background-color: #807d65;
}
.Back-CL2{
    background-color: #595a99;
}
.Back-CL3{
    background-color: #2c4088;
}
/*Configuração padrões*/
button, input[type="submit"], input[type="reset"] {
	background: none;
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,.19) !important;
    opacity: 0.7;
}
button:active{
    opacity: 0.5;
    box-shadow: inset 0px 0px 1px 2px #315867 !important;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  
}
li, ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
li{margin: 3px 0 3px 0;}

::-webkit-scrollbar
{
	width: 6px !important;
	height: 6px !important;
}
	::-webkit-scrollbar-track-piece  {
		-webkit-tap-highlight-color: transparent;
	}
	::-webkit-scrollbar-thumb:vertical{
		height: 4px;
		background-color: #40507c;
		border-radius:2px;
	}
	::-webkit-scrollbar-thumb:horizontal{
		height: 4px;
		background-color: #40507c;
		border-radius:2px;
    }